@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
textarea,
button {
  outline: 0;
}

a,
button,
img,
select {
  cursor: pointer;
}

/**** Style for react toastify toasts ***/
:root {
  --toastify-font-family: "Raleway", sans-serif !important;
}

/**** Style for the loading page logo scaling transition ****/
.logo-scale {
  animation: logo-scale-animation 2s infinite ease-in-out;
}

@keyframes logo-scale-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

/*** Style for opacity transition on welcome page ***/
.welcome-scale {
  animation: welcome-scale-animation 1.5s ease-in-out;
}

@keyframes welcome-scale-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/**** Sidebar and mobile Navbar stylings****/
.sidebar a.active {
  background: rgba(12, 17, 28, 1);
}

.sidebar a.active .showcase-tag {
  opacity: 1;
}

.sidebar a.active svg,
.mobile-navbar a.active svg {
  fill: #3f71fd !important;
}

.sidebar a.active .navtext,
.mobile-navbar a.active .navtext {
  color: #3f71fd;
}

/***** STyles for the scrollbar in the app *****/
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .main-scrollbar::-webkit-scrollbar {
    width: 9px;
  }

  .main-scrollbar::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: #d5e2ff !important;
    border-radius: 4.5px !important;
  }

  .main-scrollbar::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: #3f71fd;
    border-radius: 4.5px;
  }
}

/**** Remove scrollbar for large screen widths */
@media screen and (max-width: 1200px) {
  .main-scrollbar::-webkit-scrollbar {
    width: 0px !important;
  }
}

/**** Modify the thickness of creating task loader spinner */
.creatingtaskloader div {
  border: 6px solid #3d63dd !important;
  border-right-color: transparent !important;
}

.time-selector .swiper-wrapper {
  height: 84px;
}

/* Custom styles for react-datepicker navigation buttons */
.react-datepicker,
.react-datepicker__header {
  background: transparent !important;
  font-family: Raleway, sans-serif !important;
  border: 0;
}

.react-datepicker__current-month {
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #3d63dd !important; /* Change the icon color */
  border-width: 2px 2px 0 0 !important;
  height: 8px;
  width: 8px;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__day-name {
  color: #3d63dd !important;
}

.react-datepicker__day {
  color: #fff !important;
}

.react-datepicker__day[aria-selected="false"]:hover {
  background-color: transparent !important;
}

.react-datepicker__day--today {
  position: relative;
}

.react-datepicker__day--today::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 9999px;
  background-color: #3d63dd;
  transform: translateX(-50%);
}

.react-datepicker__day--selected {
  background-color: #3d63dd !important;
  border-radius: 9999px !important;
  font-weight: 700;
}

.react-datepicker__day--keyboard-selected {
  color: #fff !important;
  background-color: transparent;
  border-radius: 0;
}

.react-datepicker__day--disabled {
  color: #797b86 !important;
}
